.header-section {
    height: 79px;
    position: absolute;
    width: 1485px;

    .nav-bar {
        align-items: center;
        background: #FFF;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;
        position: absolute;
        width: 100%;

        .brand-logo {
            height: 59px;
            position: relative;
            width: 180px;

            .logo {
                height: 25px;
                left: 14px;
                position: absolute;
                top: 17px;
                width: 132px;
            }

        }

        .frame {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            position: relative;
            width: 645px;

            .nav-item {
                align-items: center;
                display: inline-flex;
                flex: 0 0 auto;
                gap: 10px;
                position: relative;

                .home {
                    color: #4A5568;
                    font-family: 'Inter',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px;
                    margin-top: -1px;
                    position: relative;
                    white-space: nowrap;
                    width: fit-content;
                }
            }
        }

        .nav-button {
            align-items: center;
            background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
            border-radius: 5px;
            display: inline-flex;
            flex: 0 0 auto;
            gap: 10px;
            justify-content: center;
            padding: 14px 25px;
            position: relative;

            .text-wrapper {
                color: #FAFAFA;
                font-family: 'Inter',sans-serif;
                font-size: 14px;
                font-style:normal;
                font-weight: 600;
                line-height: 14px;
                margin-top: -1px;
                position: relative;
                white-space: nowrap;
                width: fit-content;
            }
        }
    }

    .text-wrapper-2 {
        color: #000000;
        font-family: "Inspiration", Helvetica;
        font-size: 24px;
        font-weight: 400;
        left: 73px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 24px;
        white-space: nowrap;
        width: 92px;
    }

}

@media screen and (max-width:500px) {
    .header-section {
        .nav-bar {
            .frame {
                width: 560px !important;
                .nav-item{
                    .home{
                        font-size: 18px !important;
                    }
                }
            }
            .nav-button{
                right: 93px;

            }
           
        }
    }

}

@media screen and (max-width:1250px) and (min-width:520px ){
    .header-section{
        width: 183vh !important;
    }
    
}